.ContainerStyle {
  margin-top: 10%;
}
.CardStyleDetail {
    overflow: hidden;
    max-height: 860px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
.detailComponentStyle {
  width: 100%;
  height: 500px;
}

@media (max-width: 767px) {
  .ContainerStyle {
    margin-top: 30%;
  }
  .detailComponentStyle {
    width: 100%;
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .ContainerStyle {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 1025px) {
  .ContainerStyle {
    margin-top: 10%;
  }
  /* Your CSS for laptop screens (1025px and above) */
}

/* mac */
@media only screen and (max-width: 1500px) and (min-width: 1400px) {
  .ContainerStyle {
    margin-top: 10%;
  }
}
